<div class="">
    <div class="row border border-primary mb-3 p-3 content" >
        <div class="col col-3">
            <img src={{article.urlToImage}} class="card-img-top rounded border border-warning" style="height:100%" alt="...">
        </div>
        <div class="col col-4 card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.description}}</p>
            <div class="row " style="">
                <div class="col col-2 border border-primary m-1">
                    <p>Like</p>
                </div>
                <div class="col col-2 border border-primary m-1">
                    <p>Comment</p>
                </div>
                <div class="col col-2 border border-primary m-1">
                    <p>Share</p>
                </div>
                <div class="col col-2 border border-primary m-1"><a href="/signup" class="btn btn-primary"
                        style="width: 100%;">Repost</a></div>
            </div>

        </div>
        
    </div>
</div>