<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-primary bg-primary-subtle text-primary-emphasis">
  <div class="container-fluid">
    <a class="navbar-brand fw-1  border border-success border border-5 rounded-circle bg-light d-flex justify-content-center align-items-center navbar-icon" style="width: 50px; height :50px" href="#">BP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item border border-5 border-primary rounded-pill m-1">
          <button class="nav-link" (click)="selectCategory('business')">Business</button>
        </li>
        <li class="nav-item border border-5 border-primary rounded-pill m-1">
          <button class="nav-link" (click)="selectCategory('entertainment')">Entertainment</button>
        </li>
        <li class="nav-item border border-5 border-primary rounded-pill m-1">
          <button class="nav-link "  (click)="selectCategory('general')">
            General
          </button>
        </li>
        <li class="nav-item border border-5 border-primary rounded-pill m-1">
          <button class="nav-link "  (click)="selectCategory('health')">
            Health
          </button>
        </li>
         <li class="nav-item border border-5 border-primary rounded-pill m-1">
          <button class="nav-link "  (click)="selectCategory('science')">
            Science
          </button>
        </li>
         <li class="nav-item border border-5 border-primary rounded-pill m-1">
          <button class="nav-link "  (click)="selectCategory('sports')">
            Sports
          </button>
        </li>
         <li class="nav-item border border-5 border-primary rounded-pill m-1">
          <button class="nav-link "  (click)="selectCategory('technology')">
            Technology
          </button>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div> 
  </div>
</nav>
