<div class="border border-primary" style="height: 90vh; overflow-y: scroll;">
    <div class="row content" *ngFor="let user of users" >
        <div class=" col-3  m-1  rounded-circle" >
            <img src="{{ user.profilePhoto }}" alt="{{ user.name }}" class="rounded-circle"   style="width: 200%; height: 100%; object-fit: cover;">
        </div>
        <div class=" col-7  m-1" style="height: 50px;">
            <p>{{ user.name }}</p>
        </div>
        <div class=" m-1">
            <button class="btn btn-primary" style="width: 80%;" (click)="followUser(user.userId)" >Follow</button>
        </div>
    </div>
</div>