<app-header (categorySelected)="onCategorySelected($event)" (searchValueChanged)="onSearchValueChanged($event)" [currentUser]="currentUser"></app-header>
<div class="  m-3">
    <div class="row d-flex">
        <div class="col col-2">
<app-left-panel [users]="users"></app-left-panel>
        </div>
        <div class="col col-8  border-bottom border-primary bg-primary-subtle text-primary-emphasis" style="height: 90vh; overflow-y: auto;"
        infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
        >
            <app-card *ngFor="let article of newArticles" [article]="article" [currentUser]="currentUser">
            </app-card>
        </div>
        <div class="col col-2">
            <app-right-panel></app-right-panel>
        </div>
      
    </div>
</div>


