<app-header (categorySelected)="onCategorySelected($event)" (searchValueChanged)="onSearchValueChanged($event)" [currentUser]="currentUser"></app-header>
<div class="  m-3">
    <div class="row d-flex">
        <div class="col col-2">
<app-left-panel [users]="users"></app-left-panel>
        </div>
        <div class="col col-8  border-bottom border-primary " style="height: 90vh; overflow-y: auto;">
            <app-card *ngFor="let article of newArticles" [article]="article">
            </app-card>
        </div>
        <div class="col col-2">
            <app-right-panel></app-right-panel>
        </div>
      
    </div>
</div>


